@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

//Colors
$colors:(
    "white-color":#fff,
    "black-color":#000,
    "light-color":rgba(255,255,255,0.6),
    "dark-blue":#1f1f38,
    "dark-blue-variant":#2c2c6c,
    "white-blue":#4db5ff,
    "white-blue-variant":rgba(77,181,255,0.4),
    "linear-divider":linear-gradient(270deg, rgba(244,103,55,1) 0%, rgba(148,93,214,1) 0%, rgba(19,173,199,1) 100%),
    "skills-background":#f0f0f0,
    "dark-violer":#2F2252
);

//Font-Family
$font-family:Poppins,sans-serif;

//Font-Weight
$font-weight:(
    "thin":100,
    "light":300,
    "regular":400,
    "medium":500,
    "semi-bold":600,
    "bold":700
);

//Function
@function selector($map,$stuff){
 @return map-get($map, $stuff);
}

//Breakpoints
$tablet:43.75em;//700px
$laptop:62em;//992px
$desktop:87em;//1492px